{
  "settings": {},
  "plugins": ["@typescript-eslint", "prettier"],
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended"],
  "rules": {
    "arrow-body-style": "error",
    "curly": "error",
    "eqeqeq": ["error", "smart"],
    "new-parens": "error",
    "no-caller": "error",
    "no-case-declarations": "error",
    "no-cond-assign": "error",
    "no-unused-vars": "off",
    "no-debugger": "error",
    "no-else-return": "error",
    "no-eval": "error",
    "no-extra-semi": "error",
    "no-implied-eval": "error",
    "no-inner-declarations": "error",
    "no-labels": [
      "error",
      {
        "allowLoop": true,
        "allowSwitch": true
      }
    ],
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-redeclare": "error",
    "no-restricted-imports": "error",
    "no-return-await": "error",
    "no-unsafe-finally": "error",
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ],
    "prefer-exponentiation-operator": "error",
    "prettier/prettier": "error",
    "radix": "error"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
