**/obj/
**/Release/
**/Debug/
**/ipch/
*.bak*
*.db
*.exp
*.hpj
*.hpj
*.ncb
*.olb
*.opensdf
*.pyc
*.sdf
*.suo
*.tlb
*.tor
*.user
*_h.h
*_i.c
*_p.c
.svn
build/windows/MS_VS2019/.vs/
build/conda/output/

cmake

OtherLanguages/Python/lerc/*.dll
OtherLanguages/Python/lerc/*.lib
OtherLanguages/Python/lerc/*.dylib
OtherLanguages/Python/lerc/*.so*
/OtherLanguages/Python/build/
/OtherLanguages/Python/dist/
/OtherLanguages/Python/*.egg*
