# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.

*.cpp text
*.hpp text
*.h text
*.txt text
*.css text
*.html text

# Mark specific files as binary

*.jpg binary
*.png binary
*.pdf binary
*.lerc2 binary
*.lerc1 binary
